@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
    text-align: center;
}

div.conteiner {
    height: 35%;
    width: 25%;
    background-color: white;
    position: relative;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 20px;
    justify-content: center;
    border-radius: 20px;
    display: flex;
}

div.box {
    align-self: center;
}

#imagen {
    height: 90%;
    width: 90%;
    margin: 5%;
    border-radius: 20px;
}

h3 {
    padding-left: 10%;
    padding-right: 10%;
}

p {
    padding-left: 10%;
    padding-right: 10%;
}