@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

 body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
    text-align: center;
}

div.conteiner {
    height: 470px;
    width: 325px;
    background-color: white;
    margin: auto;
    margin-top: 7%;
    padding: 0;
    padding-bottom: 5px;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#imagen {
    height: 90%;
    width: 85%;
    margin: 2%;
    margin-bottom: 0;
    border-radius: 20px;
    padding: 2%;
}

h3, p {
    font-size: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

p { 
    font-size: 15px;
}

@media screen and (max-width: 375px) {
    div.container {
        margin: auto;
        width: 100%;
        height: auto;
        padding: 10px;
    }
}  





